@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
    box-shadow: 0px 2px 10px -9px rgba(0,0,0,0.81);
}

.logo{
    max-width: 50%;
}

.logo img{
    max-width: 100%;
}

/* Menu Profile */
.menu{
    width: 65%;
    height: 100vh;
    background-color: #222d32;
    color: #ffffff;
    position: absolute;
    left: -65%;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-image{
    display: block;
    width: 55px;
    padding-right: 1rem;
}

.profile-image img{
    border-radius: 50%;
    max-width: 100%;
}

.status{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.status::before{
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    background-color: green;
    margin-right: 1rem;
}

.link-nav{
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.link-nav-arrow::after {
    content: '\f107';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 1.5rem;
}
.link-nav-arrow.arrow::after{
    transform: rotate(0);
}

.list-nav{
    padding-top: 1rem;
}

.icon{
    width: 1.5rem;
}

/* menu secundario */

.hide {
    display: none;
}
.item-nav-second a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 0 1rem 2.8rem;
    display: block;
}

/* menu hamburguer*/
.menu-move{
    left: 0;
}