*{
    margin: 0;
    padding: 0;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
    box-shadow: 0px 2px 10px -9px rgba(0,0,0,0.81);
}

.logo{
    max-width: 50%;
}

.logo img{
    max-width: 100%;
}

/* Menu Profile */
.menu{
    width: 65%;
    height: 100vh;
    background-color: #222d32;
    color: #ffffff;
    position: absolute;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-image{
    display: block;
    width: 65px;
    padding-right: 1rem;
}

.profile-image img{
    border-radius: 50%;
    max-width: 100%;
}

.status{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.status::before{
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    background-color: green;
    margin-right: 1rem;
}