@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
    box-shadow: 0px 2px 10px -9px rgba(0,0,0,0.81);
}

.logo{
    max-width: 50%;
}

.logo img{
    max-width: 210px;
}

.icon-menu{
    display: none;
}

/* Menu Profile */
.menu{
    width: 250px;
    height: 100vh;
    background-color: #5382a1;
    color: #ffffff;
    position: absolute;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-image{
    display: block;
    width: 55px;
    padding-right: 1rem;
}

.profile-image img{
    border-radius: 50%;
    max-width: 100%;
}

.status{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.status::before{
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    background-color: green;
    margin-right: 1rem;
}
.link-nav.active::before{
    content: '';
    background-color: #3498db;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0%;
}

.link-nav{
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    position: relative;
}

.link-nav-arrow::after {
    content: '\f107';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 1.5rem;
}
.link-nav-arrow.arrow::after{
    transform: rotate(0);
}

.list-nav{
    padding-top: 1rem;
}

.icon{
    width: 1.5rem;
}

/* menu secundario */

.hide {
    display: none;
}
.item-nav-second a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 0 1rem 2.8rem;
    display: block;
}

/* menu hamburguer*/


/*content*/


.content{
    margin-left: 250px;
    left: 250px;
    height: 100vh;


}

.galeria{
    overflow: hidden;
    width: 95%;
    height: 320px;
    position: relative;
    margin: 20px auto;
}

.imgSlide{
    position: absolute;
    opacity: 0.1;
    animation: animacao 10s infinite;
    width: 100%;
    height: 100%;
}

.imgSlide:nth-of-type(1){}
.imgSlide:nth-of-type(2){
    animation-delay: 5s;
}


@keyframes animacao{
    0%{
        opacity: 0.3;
    }
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    50%{
        opacity: 0.3;
    }
}
















@media (max-width: 450px){
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 1rem;
    box-shadow: 0px 2px 10px -9px rgba(0,0,0,0.81);
}

.logo{
    max-width: 50%;
}

.logo img{
    max-width: 210px;
}

.icon-menu{
    display: block;
}

/* Menu Profile */
.menu{
    width: 65%;
    height: 100vh;
    background-color: #5382a1;
    color: #ffffff;
    position: absolute;
    left: -65%;
}

.profile{
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
}

.profile-image{
    display: block;
    width: 55px;
    padding-right: 1rem;
}

.profile-image img{
    border-radius: 50%;
    max-width: 100%;
}

.status{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.status::before{
    content: '';
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    background-color: green;
    margin-right: 1rem;
}
.link-nav.active::before{
    content: '';
    background-color: #3498db;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0%;
}

.link-nav{
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    display: block;
    position: relative;
}

.link-nav-arrow::after {
    content: '\f107';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 1.5rem;
}
.link-nav-arrow.arrow::after{
    transform: rotate(0);
}

.list-nav{
    padding-top: 1rem;
}

.icon{
    width: 1.5rem;
}

/* menu secundario */

.hide {
    display: none;
}
.item-nav-second a{
    color: #ffffff;
    text-decoration: none;
    padding: 0 0 1rem 2.8rem;
    display: block;
}

/* menu hamburguer*/
._move .menu{
    left: 0;
}

/*content*/
.container{
    overflow: hidden;
}
.content{
    position: relative; 
    left: 0;
    margin-left: 0;
    height: 100vh;

}

.galeria{
    height: 200px;
}
._move .galeria{
    margin: 0;
}

._move .content::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.459);
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

._move .content{
    left: 65%;
}
}

.quiz{
    font-family: 'Montserrat', sans-serif;
}
.custom-box{
    max-width: 700px;
    background-color: red;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
}

.custom-box.hidequiz{
    display: none;
}

.home-box h3{
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;

}

.home-box p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #000000;
    font-weight: 400;
}

.home-box p span{
    font-weight: 500;
}

.home-box .btn{
    margin-top: 20px;
}

.btn{
    padding: 15px 45px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .answers-indicator
.quiz-box .question-number{
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    line-height: 25px;
}
.quiz-box .question-text{
    font-size: 22px;
    color: #ffffff;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
}


.quiz-box .option-container .option{
    background-color: #cccccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
}

.quiz-box .btn{
    margin: 10px 0;
}

.quiz-box .answers-indicator{
    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}












